<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/5dbfa82225.js" crossorigin="anonymous"></script>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

         <link href="styles.css" rel="stylesheet">
        <title>Gwee Gwee</title>
    </head>
<body>
  <nav>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
    </li>
  </ul>






<div class="container bootstrap snippets bootdey">
  <div class="row">
      <div class="col-md-offset-3 col-md-6 col-xs-12">
          <div class="well well-sm well-social-post">
      <form>
          <ul class="list-inline" id='list_PostActions'>
              <li class='active'><a href='#'>Update status</a></li>
              <li><a href='#'>Add photos/Video</a></li>
              <li><a href='#'>Create photo album</a></li>
          </ul>
          <textarea class="form-control" placeholder="What's in your mind?"></textarea>
          <ul class='list-inline post-actions'>
              <li><a href="#"><span class="glyphicon glyphicon-camera"></span></a></li>
              <li><a href="#" class='glyphicon glyphicon-user'></a></li>
              <li><a href="#" class='glyphicon glyphicon-map-marker'></a></li>
              <li class='pull-right'><a href="#" class='btn btn-primary btn-xs'>Post</a></li>
          </ul>
      </form>
          </div>
      </div>
  </div>
</div>
</nav>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
<script src = "style.js"></script>
