<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <link href="styles.css" rel="stylesheet">


    <title>Gwee Gwee</title>
</head>

<body>
    <section>
        <main>
            <div >
                <img class="img-fluid thanks-img" src= "/static/img/thank-you.jpg ">

            </div>
            <div id="thanks">
                <h2> Gwee Gwee
                </h2>
                <p>
                    Share your Experience & Explore new foodie places
                </p>
            </div>
        </main>
    </section>
</body>