.nav-text{
    color: #ed6961;
    font-weight: bold;
    font-size:24px;

}

nav .navbar-nav li a{
    color:#ed6961!important;
    }



.sologan {


    position: absolute;
    color: #ed6961;
    bottom: 35px;
    left: 140px;
    font-weight: bold;
    font-size:20px;
  }

.cover-image{

    position: relative;
    overflow:hidden;

    object-fit: cover;
}

.text{
    font-family: 'Nunito';
    font-size: 20px;

}

.title{
    color: #ed6961;
    font-family: 'Alegreya';
    margin: 10px;
    font-weight: bold;
}

.text-center{
    padding: 10px;
}

.text:first-child{
    padding:10px;

}

.card-text{
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: light;
}

.card-title{
    font-family: 'Nunito Sans';
    color: grey;


}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.nav-item{
    list-style: none;
}

#cover{
    opacity:0.8;
}

.my-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .my-toggler.navbar-toggler {
    border-color: rgb(237,105,97);
  }