{% extends 'base.html' %}

{% block content %}

<body>

  <section>
    <nav class="navbar navbar-light bg-light sticky-top navbar-expand-lg" style="margin-bottom:10px ">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index')}}">
          <img src="/static/img/Gwee_gwee.png" alt="Gwee Gwee logo" width="230" height="75">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse desk-view nav-justified navbar-collapse" id="navbarScroll">
          <ul class="nav flex-fill desk-nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                <i class="fa-solid fa-house"></i>
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-trend"
                type="button" role="tab" aria-controls="pills-trend" aria-selected="false">
                <i class="fa-solid fa-chart-simple"></i>
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-promotion"
                type="button" role="tab" aria-controls="pills-promotion" aria-selected="true">
                <i class="fa-solid fa-percent"></i>
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link " id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-alert"
                type="button" role="tab" aria-controls="pills-alert" aria-selected="false">
                <i class="fa-solid fa-bullhorn"></i>
              </button>
            </li>
          </ul>

        </div>
      </div>

    </nav>

    <main>

      <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
      </button>



      <div class="tab-content" id="pills-tabContent">
        {% include 'messages.html' %}


        <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
          {% from "_formhelpers.html" import render_field %}
          <div class="social-post container">
            <div class="row">



              <form method="post" enctype="multipart/form-data" action="{{ url_for('adminpanel') }}">
                {{ form.hidden_tag() }}
                <div>
                  {{ render_field(form.description, class = "form-control", rows=10, placeholder = "Create another
                  post?") }}
                  {{ render_field(form.tag, class="form-control")}}

                  {{ render_field(form.photo, class="form-control") }}




                  {{ form.submit(class="btn btn-danger") }}

                </div>

              </form>

            </div>
          </div>
        </div>



        <div class="tab-pane fade show column  active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          {% for post in posts %}
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 ">


            <img src="{{url_for('static', filename='img/' + post.image_url)}}" class="card-img-top home-card" alt="...">


            <div class="card-body">

              <div class="tag">
                <h5 class="card-title">{{ post.owner }}</h5>
                <div>
                  {% if post.tag%}
                  <span class="badge rounded-pill bg-danger">{{ post.tag }}</span>
                  {% endif %}
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#del{{post.id}}"><i
                      class="fa-sharp fa-solid fa-trash"></i></button>
                </div>
                <!-- The Modal -->
                <div class="modal" id="del{{post.id}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title text-danger"> Are you do you want delete this post </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        {{post.id}}
                      </div>
                      <div class="modal-footer">
                        <div class="mr-auto"> <a href="delete/{{ post.id }}" class="btn btn-danger btn-sm"> Delete </a>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <p class="card-text">{{ post.description }}</p>
              <p>{{ post.time_created }}</p>

            </div>

          </div>


          {% endfor %}
        </div>




        <div class="tab-pane fade" id="pills-trend" role="tabpanel" aria-labelledby="pills-trend-tab">
          {% for trendpost in trendPosts %}
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 ">


            <img src="{{url_for('static', filename='img/' + trendpost.image_url)}}" class="card-img-top home-card"
              alt="...">


            <div class="card-body">

              <div class="tag">
                <h5 class="card-title">{{ trendpost.owner }}</h5>
                <div>

                  <span class="badge rounded-pill bg-danger">{{ trendpost.tag }}</span>

                </div>
              </div>
              <p class="card-text">{{ trendpost.description }}</p>
              <a>{{ trendpost.time_created }}</a>

            </div>

          </div>

          {% endfor %}


        </div>
        <div class="tab-pane fade" id="pills-promotion" role="tabpanel" aria-labelledby="pills-promotion-tab">
          {% for promopost in promoPosts %}
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 ">


            <img src="{{url_for('static', filename='img/' + promopost.image_url)}}" class="card-img-top home-card"
              alt="...">


            <div class="card-body">

              <div class="tag">
                <h5 class="card-title">{{ promopost.owner }}</h5>
                <div>

                  <span class="badge rounded-pill bg-danger">{{ promopost.tag }}</span>

                </div>
              </div>
              <p class="card-text">{{ promopost.description }}</p>
              <a>{{ promopost.time_created }}</a>

            </div>

          </div>

          {% endfor %}


        </div>
        <div class="tab-pane fade" id="pills-alert" role="tabpanel" aria-labelledby="pills-alert-tab">
          {% for alertpost in alertPosts %}
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 ">


            <img src="{{url_for('static', filename='img/' + alertpost.image_url)}}" class="card-img-top home-card"
              alt="...">


            <div class="card-body">

              <div class="tag">
                <h5 class="card-title">{{ alertpost.owner }}</h5>
                <div>

                  <span class="badge rounded-pill bg-danger">{{ alertpost.tag }}</span>

                </div>
              </div>
              <p class="card-text">{{ alertpost.description }}</p>
              <a>{{ alertpost.time_created }}</a>

            </div>

          </div>

          {% endfor %}
        </div>
      </div>
    </main>


  </section>






</body>
{% endblock %}