<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="viewport" content="width = device-width, initial-scale = 1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


  <link href="/static/styles.css" rel="stylesheet">


  <title>Gwee Gwee</title>
</head>

<body>

  <section>
    <nav class="navbar navbar-light bg-light sticky-top navbar-expand-lg" style="margin-bottom:10px ">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index')}}">
          <img src="/static/img/Gwee_gwee.png" alt="Gwee Gwee logo" width="230" height="75">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse desk-view nav-justified navbar-collapse" id="navbarScroll">
          <ul class="nav flex-fill desk-nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                <i class="fa-solid fa-house"></i>
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-trend"
                type="button" role="tab" aria-controls="pills-trend" aria-selected="false">
                <i class="fa-solid fa-chart-simple"></i>
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-promotion"
                type="button" role="tab" aria-controls="pills-promotion" aria-selected="true">
                <i class="fa-solid fa-percent"></i>
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link " id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-alert"
                type="button" role="tab" aria-controls="pills-alert" aria-selected="false">
                <i class="fa-solid fa-bullhorn"></i>
              </button>
            </li>
          </ul>

        </div>
      </div>

    </nav>

    <main>
      <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
      </button>

      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show column  active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 ">
            <img src="/static/img/icecream.jpg" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <div class="tag">
                <h5 class="card-title">Card title</h5>
                <div>
                  <span class="badge rounded-pill bg-danger">trending</span>
                </div>
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tincidunt dolor.
                Vivamus at odio pretium, bibendum metus sit amet, semper tellus. Suspendisse dignissim at ex a
                facilisis. Proin vitae scelerisque lorem. Nullam at faucibus augue, id luctus lectus. In magna nunc,
                mollis ut diam id, sollicitudin faucibus nisi. Aenean non finibus risus. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Nunc ornare semper neque, et hendrerit mi sagittis et. Maecenas orci
                ligula, venenatis eu mattis vel, rhoncus eu tortor. Suspendisse eu bibendum lectus. Nunc ac commodo est,
                sed blandit arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/vegetables.jpg" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <div class="tag">
                <h5 class="card-title">Card title</h5>
                <div>
                  <span class="badge rounded-pill bg-danger">trending</span>
                  <span class="badge rounded-pill bg-danger">promotion</span>
                </div>
              </div>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-trend" role="tabpanel" aria-labelledby="pills-trend-tab">
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/lathr.webp" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/seoulmm.jpg" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-promotion" role="tabpanel" aria-labelledby="pills-promotion-tab">
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/promo.png" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/grab_promo.jpg" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-alert" role="tabpanel" aria-labelledby="pills-alert-tab">
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/fly-coffee.jpg" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <img src="/static/img/alert-noodle.jpg" class="card-img-top home-card" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </main>


  </section>






</body>

<script src="https://kit.fontawesome.com/5dbfa82225.js" crossorigin="anonymous"></script>
<script src="/static/style.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
  integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
Footer