{% extends 'base.html' %}
{% block meta %}
 <meta name="robots" content="noindex">

{% endblock %}


{% block content %}
    <section>
        <main>
            <div  class="container">
                
              {% include 'messages.html' %}
                  <form method = "POST" class = "form-register" id = "form-login">
                    {{ form.hidden_tag() }}
                    <img src = "/static/img/Gwee_gwee.png"  alt = "Gwee Gwee logo" width="230" height = "75" >
                    <br>
                    <div class = "mb-3">
                      {{ form.username.label() }}
                      {{ form.username(class = "form-control", placeholder = "username") }}


                    </div>


                    <div class = "mb-3">

                    {{ form.password.label() }}
                    {{ form.password(class = "form-control", placeholder = "Enter your password") }}


                    </div>
                    
                    <br>

                    {{form.submit(class = 'btn btn-primary')}}






                  </form>

            </div>

        </main>
    </section>
  {% endblock %}
